/* Reset de Estilos para Remover Padrões do Navegador */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Normalização de Estilos */
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

/* Elementos de Bloco */
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* Elementos Inseríveis */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Limpar Floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: white;
}