.home {
    padding-left: 10%;
    padding-right: 10%;
    height: 370px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.home h1 {
    font-size: 40px;
    margin-top: 40px;
}

.home h2 {
    font-size: 14px;
    margin-top: 10px;
    color: rgb(131, 131, 131);
}

.home-texto {
    max-width: 45%;
}

.home-texto button {
    margin-top: 20px;
    width: 200px;
    height: 30px;
    background-color: transparent;
    color: white;
    border:  1px solid white;
    border-radius: 10px;
}

@media only screen and (max-width: 720px) {
    .home {
        display: block;
    }

    .home h1 {
        font-size: 30px;
    }
    .home-texto {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

.banner {
    background-color: white;
    height: 300px;
    width: 350px;
}