@media only screen and (max-width: 600px) {
    .tecnologias {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        background: linear-gradient(to top, rgb(1, 17, 24), transparent);
    }
}