{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rust-Eze</title>
<link rel="stylesheet" href="/static/scss/styles.css">

</head>
<body>
    
    <nav>
        <div>
            <a href="/">
                <img class="logo" src="https://i.pinimg.com/736x/4d/6a/e1/4d6ae1cc686acd25a9800d04bc726313.jpg" alt="" >
            </a>
        </div>

        <div class="pesquisa">
            <input type="text">
            <button type="submit">pesquisar</button>
        </div>
        
        
            <a href="/carrinho/">
                <div class="carrinho">
                    <img class="carrinhoimg" src="https://cdn.icon-icons.com/icons2/1351/PNG/512/icon-shoppingcart_87973.png" alt="carrinho">
                </div>
            </a>

        <div></div>
    </nav>

    <div class="subnav">
        <a href=""><p> </p></a>
    </div>

    <div class="corpo">
        <img src="https://lumiere-a.akamaihd.net/v1/images/cars80-1200x801_7b6d9330.jpeg?region=0,255,1200,482" alt="">
        <div class="apresentacao">
            <h1>Aproxime-se da equipe</h1>
            <p>Inscreva-se em nossa newsletter para receber todas as atualizações da equipe, bem como informações sobre competições e brindes exclusivos. Conte-nos o que você deseja ouvir selecionando suas preferências nas caixas de seleção abaixo:</p>
            <input type="text">
            <button type="submit" value="Submit">Submit</button>
        </div>
    </div>

    <div class="produtos">
        <h1>Nossos Produtos</h1>
        <hr>

        {% block content %}



        <div class="lista">
        {% for product in products %}
        

        <div class="prod">
            <a href="">
                <img src="https://i.pinimg.com/736x/4d/6a/e1/4d6ae1cc686acd25a9800d04bc726313.jpg" alt="" height="200",width= '200'>
            {{product.title}}
            <br>
            R$ {{product.price}},00
            </a>
            <button>adicionar ao carrinho</button>
            <button>comprar</button>
        </div>
            

        {% endfor %}
        </div>



        
        {% endblock %}

    </div>
</body>
</html>