$cor-principal: rgb(177, 15, 15); // Tomate
$cor-secundaria: rgb(107, 8, 8); // Branco
$amarelo-queimado : rgb(255, 196, 0);
$azul : rgb(43, 69, 104);


body {
    font-family: sans-serif;
    background-color: $cor-secundaria;
    color: $cor-secundaria;
}

nav {
    display: flex;
    background-color: $cor-principal;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.subnav {
    display: flex;
    background-color: $amarelo-queimado;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    margin-left: 70px;
    max-width: 200px;
    max-height: 150px;
    height: 120px;
    width: 120px;
}



.pesquisa input[type="text"] {
    width: 350px;
    padding: 5px;
    border: 2px solid $amarelo-queimado;
    border-radius: 7px;
 }
 
 .pesquisa input[type="text"]:focus {
    border-color: $amarelo-queimado;
 }
 
 .pesquisa button[type="submit"] {
    padding: 5px 15px;
    background: $amarelo-queimado;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
 }




.carrinho {
    display: flex;
    margin-right: 70px;
    background-color: $cor-secundaria;
    height: 40px;
    width: 40px;
    border:3px solid $amarelo-queimado;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.carrinhoimg {
    height: 30px;
    width: 30px;
}


.corpo {
    width: 100%;
    
}

.corpo img {
    width: 100%;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, $cor-secundaria 70%);
   }


.apresentacao {
    width: 300px;
    color: white;
    position: absolute;
    font-size: 20px;
    left: 70px;
    top: 180px;
}



.apresentacao input[type="text"] {
    background-color: transparent;
    width: 300px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
 }

 .apresentacao button[type="submit"] {
    color: white;
    padding: 5px 134px;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
 }
 
.produtos {
    color: white;
 }

.lista{
display: grid;
grid-template-columns: repeat(5, 1fr);
}


.prod {
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    width: 220px;
    height: 330px;
 }

 .prod a {
    color: white;
    text-decoration: none;
 }

 .prod button {
    color: white;
    padding: 5px 15px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
 }